/* ALGEMENE CUSTOM PROPERTIES */
:root {
    --main-color:white;
    --secundairy-color:#01A050;
    --background-color:#F9423A;
    --secundairy-background-color: #007DE1;
    --font-family: arial, sans-serif;
    --width-100: 100%;
  }


/* algemene styling voor de body */
/* met width 100% zal de body zich altijd aan de breedte van het scherm aanpassen  */
body {
    font-family: var(--font-family);
    width: var(--width-100);
    margin: 0;    
}

/* zelfde geldt voor de main */
/* heb hier een position absolute op gezet om deze deels over de header te kunnen plaatsen */
main {
    width: var(--width-100);
    position: absolute;
    top: 20em;
}

/* hiermee zorg je ervoor dat er geen zichtbare overvloei is */
article {
    overflow: hidden;   
}

/* styling van de lijn tussen de adelaar en plankton */
hr {
    width: 80%;
    opacity: 20%;
}

/* hiermee haal je de default styling van een ul weg */
ul {
    list-style-type: none;
}

/* algemene styling voor paragraph/(brood)tekst */
p {
    line-height: 1.5em;
    font-size: 1.125em;
    padding: 2em;
    padding-left: 10%;
}

a {
    padding: 1em;
    padding-left: 10%;
    padding-right: 6em;

    text-decoration: none;
    color: black;

    background-image: url(../images/link_naar_tickets.png);
    background-position: 90% 51%;
    background-size: 4em;
    background-repeat: no-repeat;
}

/* Door de span die op de h1 staat in de html in de header, kan ik de tekst onder elkaar zetten doormiddel van display flex
/* waardoor ik geen <br> hoeft te gebruiken. Position absolute zorgt ervoor deze over de afbeelding komt */
h1 {
    color: var(--main-color);
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 150px;
    padding-left: 10%;

/* de background image is de balk die je aan de linker kant ziet  */
    background-image: url(../images/groenebalk_links.png);
    background-size: 2.5em;
    background-position: 1% 50%;
    background-repeat: no-repeat;
}

h2 {
    color: var(--main-color);
    padding-left: 10%;
}

h3 {
    color: var(--secundairy-color);
    display: flex;
    flex-direction: column;
    font-weight: lighter;
    line-height: 1em;
    font-size: x-large;
    padding-left: 10%;
    padding-top: 30px;

/* de background image is de balk die je aan de linker kant ziet  */
    background-image: url(../images/groenebalk.png);
    background-position: 0% 52%;
    background-size: .9em;
    background-repeat: no-repeat;
}

/* de background image is de witte pijl naast de tekst van onschatbare ware */
h5 {
    color: var(--main-color);
    position: absolute;
    padding-left: 10%;
    padding-right: 90px;
    top: 240px;

    background-image: url(../images/link_naar_pagina.png);
    background-size: 5em;
    background-position: 95% 50%;
    background-repeat: no-repeat;
}

h5:focus {
    color: black;
    background-color: color;    
}

h6 {
    padding-left: 10%;
}

footer  {
    background-color: var(--main-color);
    background-image: url(../images/eagle-png.png);
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: 150px 800px;
    /* background-position: 80% 50%; */
    /* nu beweegt de achtergrond afbeelding niet meer mee */
}

/* dit zijn verschillende states van de links/a elementen in de html */
a:hover {
    text-decoration: none;
    color: rgb(122, 108, 108);
}

a:focus {
    outline: none;
    background-color: red;
    border-color: tomato;
}


/* dit is de styling van het kleine formulier onderaan de pagina waar je je kunt inschrijven */
article form {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 80%;
    margin: auto;
    margin: 2em;

    background: rgb(243, 237, 237);
    color: black;
}

/* de styling van de link --> form */
article form a {
    font-weight: bolder;
    padding-left: 10%;
    color: var(--secundairy-color);
    background-image: url(../images/link_naar_tickets.png);
    background-position: 120px 20px;
}

/* dit is de styling van de tekst 'houd me op de hoogte' */
form label {
    margin: 0;
    padding-top: 40px;
    padding-left: 10%;
    padding-bottom: 40px;
    line-height: 1em;
}

/* dit is de styling van het invoer veld --> form */
form input[type=email] {
    margin: auto;
    width: 80%;
    background: transparent;
    border: 0;
    border-bottom: 1px solid;
    font-size: 1em;
    font-family: var(--font-family);
    font-style: italic;
    line-height: 1.5;
}

/* dit is de styling van de verzend knop */
form input[type=submit] {
    all: unset;
    margin-top: 2.4em;
    background: transparent;
    padding: 10%;
    cursor: pointer;
    font-weight: 700;
}

/* logo zonder achtergrond afbeelding */
header a {
    background-image: none;
}

/* styling van de titel op de home page, Naturalis Biodiversity Center */
header h1 span {
    font-size: 1.38em;
    font-weight: bolder;
    line-height: 1em;
}

/* logo absoluut gepositioneerd linksboven */
header a img {
    width: 1.5em;
    position: absolute;
    left: 10px;
    top: 10px;
}

/* hier zet ik een focus op het logo als je hierop focust, dus met de tab key navigeert, dan kleurt het logo rood */
header a img:focus {
    outline: none;
    transform:translatey(-.5em); 
}

/* als je met je muis */
header a img:hover {
    transform:translatey(-.5em); 
    cursor: pointer;
}

 /* hiermee zorg ik ervoor dat elke afbeelding binnenin een article de volledige breedte van het beeldscherm opneemt  */
article img {
    width: var(--width-100);
}

/* hiermee style ik alle linkjes/a elementen binnenin de footer */
footer ul li > a {
    display: flex;
    flex-direction: column;
    font-family: var(--font-family);
    font-size: 14px;
    padding: 1em;
    color: black;
    background-image: none;
}

footer p {
    font-weight: bold;
    padding-left: 50px;
}

footer img {
    width: var(--width-100);;
}


/* hiermee selecteer ik de tweede h3 in het html document en kan ik deze apart stylen */
h3:nth-of-type(2) {
    background-image: url(../images/vis.png);
    background-size: 80px;
    background-position: 70% 0%;
    font-size: large;
    text-transform: capitalize;
    color: black;
    font-weight: bold;
    padding-left: 10%;
    padding-bottom: 30px;
}

/* hiermee haal ik de vis van de andere h3 af */
main > article:nth-of-type(6) > h3:nth-of-type(2) {
    background-image: none;
}

/* Dit is de styling van de eerste section, het rode blok bovenaan de pagina */
main > article:first-of-type {
    background-color:var(--background-color);
    max-width: 800px;
    padding-top: 5%;
    padding-bottom: 10%;
    margin: 15px;
    color: var(--main-color);
    background-image: url(../images/flyingbirds.gif);
    background-repeat: no-repeat;
    background-size: 200px;
    /* background-position: 140px 230px; */
    /* background-size: 70%; */
    background-position: 80% 100%;
}

main > article:nth-of-type(2) {
    background-color: var(--main-color);   
}


/* Dit is de styling van het groene artikel onder het kopje leren bij naturalis */
/* Verder selecteer ik hieronder specifieke articles en elementen daar binnen in om deze te kunnen stylen */
main > article:nth-of-type(3) {                                                 
    background-color: var(--secundairy-color);
    color: var(--main-color);
    padding-bottom: 10%;
    margin-top: 0;
}

main > article:nth-of-type(3) > h3 {
    background-color: var(--main-color);
    margin: 0;
    padding-top: 10%;
    padding-left: 10%;
    padding-bottom: 20px;
}

/* dit is de styling van de tekst onder de drie afbeeldingen, objecten in de collectie in het vierde artikel 
in de html */
main > article:nth-of-type(4) > p {
    text-align: center;
}

main > article:nth-of-type(5) {
    color: var(--main-color);
    background-color: var(--secundairy-background-color);
    padding-bottom: 40px;
}

main > article:nth-of-type(6) > a:first-of-type {
    color: rgb(53, 53, 199);
    background-position: 95% 65%;
    background-size: 4em;
    background-repeat: no-repeat;
}

main > article:nth-of-type(7) {
    color: var(--main-color);
    background-color: var(--secundairy-background-color);
    padding-bottom: 40px;

    background-image: url(../images/trex_skeleton.png);
    background-repeat: no-repeat;
    background-size: 180px;
    /* background-position: 180px 570px; */
    /* background-size: 40%; */
    background-position: 90% 95%;
}

main > article:nth-of-type(2) > p:nth-of-type(2) {
    font-style: italic;
    font-size: 1em;
    padding-left: 10%;
    padding-bottom: 0px;
}

/* Styling van de play en stop buttons, voor het luisteren en het stoppen van de audio */
#play {
    margin-left: 10%;
    margin-bottom: 30px;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;

    background-color: var(--secundairy-color);
    color: var(--secundairy-color);

    background: transparent;
    border: 0;
    border-bottom: 1px solid;
}

#play:hover {
    cursor: pointer;
    transform: translatey(-.5em); 
    color: lightgray;
}

#play:focus {
    color: grey;
}

#stop {
    margin-left: 40px;
    margin-bottom: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;

    background-color: var(--secundairy-color);
    color: var(--secundairy-color);

    background: transparent;
    border: 0;
    border-bottom: 1px solid;
}

#stop:hover {
    cursor: pointer;
    transform: translatey(-.5em); 
    color: darkred;

}

#play:focus {
    color: grey;
}

main > article:nth-of-type(7) > h3 {
    color: var(--main-color); 
    background-image: none;
    font-style: italic;
    font-weight: bolder;
}

main > article:nth-of-type(8) {
    background-color: var(--secundairy-color);
}

/* ik heb een span met classnaam onderelkaar, om een deel van het p element in article 4 gezet zodat 
ik deze met flex onder elkaar kan zetten */
.onderElkaar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: var(--width-100);
    font-size: xx-large;
}

/* dit is telkens het eerste woord, van de h3 en h1 */
.Bold {
    font-size: larger;
    font-weight: bolder;
}

/* nieuwe slider ************************/
.slider-container {
    height: 100%;
    width: var(--width-100);
    position: relative;
    overflow: visible;
    text-align: center;
}

.menu {
    height: 100%;
    position: absolute;
    top: 100px;
    bottom: 100px;
    left: 0;
    z-index: 900;
    width: var(--width-100);
    bottom: 0;
}

.menu label {
    cursor: pointer;
    display: inline-block;
    width: 16px;
    height: 16px;
    background: #fff;
    border-radius: 10px;
    margin: 0 0.2em 1em;
}

.menu label:hover,
.menu label:focus {
    background: #1c87c9;
}

.slide {
    width: var(--width-100);
    height: 100%;
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 10;
    padding: 8em 1em 0;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 50% 50%;
    transition: left 0s 0.75s;
}

[id^="slide"]:checked + .slide {
    left: 0;
    z-index: 100;
    transition: left 0.65s ease-out;
}

.slide-1 {
    background-image: url("../images/Trilobite_RGM.1276635_0.jpg");
}

.slide-2 {
    background-image: url("../images/vogel.jpg");
}

/* dit is de styling van het gebouw achter de titel bovenaan de homepage */
#achtergrondafbeelding {
    width: var(--width-100);
    position: absolute;
    top: 0;
    left: 0; 
    z-index: -1;
    filter: brightness(70%);
}

/* dit is de styling van het eerste artikel op de tickets pagina met zwarte achtergrond */
#achtergrondkleurZwart {
    background-color: black;
    background-image: none;
    color: white;
}

#achtergrondkleurZwart a {
    color: white;
}


/* hieronder de styling van het hamburgermenu */
/* dit is de styling van het gehele element, het nav element in de header */
#menuToggle {
    display: block;
    position: relative;
    z-index: 2;
    top: 50px;
    margin: auto;
    height: 10px;
}

#menuToggle:focus {
    outline: black;
    background-color: red;
}

#menu:focus {
    outline: black;
    background-color: red;
}


/* hamburgermenu styling, het rode block wat uitklapt */
#menu {
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 80px;
    padding-bottom: 100px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    position: relative;
    top: -110px;
    background: var(--background-color);
    list-style-type: none;  
    
    transform: translate(0%, -100%); 
    transition: transform 0.6s;
    
    background-image:url(../images/trex_skeleton.png);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: 90% 50%;
}

/* dit is het tweede deel van de navigatie, de grotere letters die onder elkaar staan */
header nav ul > .anderstylen {
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-right: 50%;
    font-size: 1.3em;
}

/* dit is de styling van de link naar tickets in het hamburgermenu, oftwel de button */
#menu > .tickets {
    top: 70%;
    background-color: var(--main-color);
    padding: 1em 2em;
    color: var(--background-color);
    text-align: center;
    width: 90%;
    font-size: large;
    font-weight: bold;
}

/* dit is de styling van de tekst in het hamburgermenu */
header nav ul li > a {
    display: flex;
    justify-content: space-around;
    padding: 0.7em;
    padding-bottom: 20px;
}

/* dit is de styling van de a elementen in het menu, dus de tekst */
#menuToggle a {
    color: var(--main-color);
    transition: color 0.3s ease;
}

#menuToggle a:hover {
    color: rgb(199, 199, 199);
}

#menuToggle a:focus {
    color: rgb(25, 112, 58);
}

/* dit is de styling van het klik veld, die zorgt ervoor dat er wat gebeurd wanneer je klikt */
#menuToggle input {
    display: block;
    width: 90px;
    height: 32px;
    position: absolute;
    top: -60px;
    right: 10%;
    cursor: pointer;
  
    opacity: 0; /* checkbox verstoppen */
    z-index: 3; /* hiermee plaats je hem over de steepjes/hamburger zodat er op geklikt kan worden */
}

nav:focus {
    background-color: black;
}

/* hamburger menu, dit is de styling van de streepjes */
#menuToggle span {
    display: block;
    position: relative;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;    
    top: -50px;
    right: -85%;
    border-radius: 10px;
    background: white; 
     
    z-index: 2;  
    transform-origin: 4px 0px;  
    transition: transform 0.5s;
}

#menuToggle span:focus {
    background-color: black;
    border: black;
    color: black;
    z-index: 3;
}

/* dit is het eerste streepje */
#menuToggle span:first-child {
    transform-origin: 0% 0%;
}

/* dit is het tweede streepje */
#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

/* hiermee verander je de streepjes in een kruis, oftewel ze roteren */
#menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: white;
}

/* alleen het middelste streepje niet dus moet je laten verstoppen als het ware */
#menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

/* en de laatste moet in de andere richtig draaien */
#menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
}

#menuToggle input:checked ~ ul {
    transform: none;
}